html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.card-container{
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    margin: auto;
    margin-top: 40px;
    /* border-radius: 10px; */
}
.top-container{
    width: 100%;
    height: 40%;
    border: 2px solid rgb(228, 15, 15);
}
.bottom-container{
    width: 100%;
    height: 60%;
    border: 2px solid rgb(228, 207, 15);
    display: flex;
}
.bottom-left-container{
    width: 50%;
    height: 100%;
    border: 2px solid rgb(255, 0, 119);
    padding: 20px;
}
.bottom-right-container{
    width: 50%;
    height: 100%;
    border: 2px solid rgb(115, 255, 0);
    padding: 20px;
}
.price-title{
    width: 100%;
    height: fit-content;
    border: 2px solid gray;
    margin-bottom: 30px;
}
.price{
    width: 25%;
    border: 2px solid purple;
    display: inline-block;
}
.per-time{
    width: 35%;
    border: 2px solid rgb(15, 171, 233);
    display: inline-block;
    margin-bottom: 30px;
}
.description{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 30px;
}
.btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}