.game-container{
    width: 450px;
    height: 450px;
    background-color: black;
    border: 3px solid red;
    margin: auto;
    border-radius: 10px;
    position: relative;
}
.hit-bar{
    width: 200px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0);
    position: absolute;
    bottom: 20px;
    left: 225px;
    display: flex;
    flex-direction: row;
    animation: hitBar 4s infinite;
    animation-timing-function: linear;
    
}
.center{
    width: 150px;
    height: 20px;
    background-color: rgb(236, 236, 236);
    /* border-radius: 90px ; */
    position: absolute;
    left: 18px;
    box-shadow: 0px 2px 2px 2px rgba(40, 41, 40, 0.61);
}
.left{
    width: 35px;
    height: 20px;
    background-color: rgb(22, 10, 187);
    position: absolute;
    z-index: 1;
    transform:skew(120deg);
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.658);

}
.right{
    width: 35px;
    height: 20px;
    background-color: rgb(170, 8, 8);
    position: absolute;
    right: 15px;
    z-index: 1;
    transform:skew(-120deg);
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.658);

}
@keyframes hitBar {
    0%{
        bottom: 20px;
        left: 225px;
    }
    20%{
        bottom: 20px;
        left: 245px;
    }
    40%{
        bottom: 20px;
        left: 20px;
    }
    60%{
        bottom: 20px;
        left: 245px;
    }
    80%{
        bottom: 20px;
        left: 20px;
    }
    100%{
        bottom: 20px;
        left: 225px;
    }
}
.ball{
    width: 30px;
    height: 30px;
    background-color: rgb(16, 196, 10);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.658);
    position: absolute;
    top: 380px;
    left: 290px;
    animation: ball 4s infinite;
    animation-timing-function: linear;
}
@keyframes ball {
    0%{
        top: 385px;
        left: 290px;
    }
    20%{
        top: 100px;
        left: 230px;  
    }
    40%{
        top: 385px;
        left: 32px;
    }
    60%{
        top: 98px;
        left: 145px;
    }
    80%{
        top: 286px;
        left: 420px;
    }
    100%{
        top: 385px;
        left: 290px;
    }
}
.bricks-container{
    width: inherit;
    height: 110px;
    /* background-color: antiquewhite; */
    position: relative;
    overflow: hidden;
}
.row1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -15px;
    border-radius: 5px;
    overflow: hidden;
}
.row2{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.row3{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25px;
    border-radius: 5px;
    overflow: hidden;
}
.row4{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    border-radius: 5px;
    overflow: hidden;
}
.row5{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 65px;
    border-radius: 5px;
    overflow: hidden;
}
.brick{
    width: 43.5px;
    height: auto;
    /* border: 1px solid ghostwhite; */
    text-align: center;
    padding: 1px;
}
.color1{
    background-color: blue;
}
.color2{
    background-color: rgb(255, 136, 0);
}
.color3{
    background-color: rgb(255, 0, 212);
}
.color4{
    background-color: rgb(0, 255, 179);
}