.header{
    width: 100%;
    display: flex;
    background-color: navy;
    position: sticky;
    top: 0px;
    left: 0px;
}
.header h3{
    position: relative;
    color: whitesmoke;
    padding: 10px;
}

.card-container{
    width: 50%;
    margin: auto;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
}
.Card{
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(65, 65, 65);
    margin: 20px;
}
.Card h2{
    color: rgb(226, 9, 129);
}
.Card h3{
    color: rgb(5, 156, 106);
}
.detail1{
    border-left: 5px solid blue;
}
.detail2{
    border-left: 5px solid rgb(7, 175, 7);
}
.detail3{
    border-left: 5px solid rgb(255, 16, 16);
}
.detail4{
    border-left: 5px solid rgb(155, 7, 175);
}

/* Footer Sytles */
.footer{
    background-color: rgb(29, 28, 28);
    width: 100%;
}
.footer-container{
    display: flex;
}
.content{
    flex: 50%;
    color: aliceblue;
    margin: 20px;
}
.content h4{
    margin-bottom: 30px;
    color: rgb(173, 173, 173);
}