.header{
    width: 100%;
    min-height: 80px;
    display: flex;
    background-color: navy;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.header h3{
    position: relative;
    width: 100px;
    /* height: 12px; */
    text-align: center;
    color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin: 20px;
    border-bottom: 1px solid rgb(47, 189, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 128, 0, 0.548);
    background-color: rgb(19, 6, 141) ;

    /* border-right-width: 100px; */
}
.header h3:hover{
    border-bottom: 2px solid rgb(102, 255, 0);
    background-color: rgb(248, 0, 165) ;
    scale: 1.05;
    transition: 0.5s;

}
.header a{
    text-decoration: none;
}

.card-container{
    width: 70%;
    margin: auto;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
}
.Card{
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(65, 65, 65);
    margin: 20px;
    border-top-right-radius: 50px;
    box-shadow: 5px 5px 5px gainsboro;
}
.Card:hover{
    scale: 1.01;
    background-color: rgba(88, 88, 88, 0.39);
    transition: 0.5s;
    color: rgb(247, 247, 247);
    box-shadow: 5px 5px 5px rgb(22, 22, 22);
}
.Card h2{
    color: rgb(2, 122, 192);
    
}
.Card h3{
    color: rgb(0, 0, 0);
}
.detail1{
    border-left: 5px solid blue;
}
.detail2{
    border-left: 5px solid rgb(7, 175, 7);
}
.detail3{
    border-left: 5px solid rgb(255, 16, 16);
}
.detail4{
    border-left: 5px solid rgb(155, 7, 175);
}

/* Footer Sytles */
.footer{
    background-color: rgb(29, 28, 28);
    width: 100%;
    position: absolute;
    left: 0px;
}
.footer-container{
    display: flex;
}
.content{
    flex: 50%;
    color: aliceblue;
    margin: 20px;
}
.content h4{
    margin-bottom: 30px;
    color: rgb(173, 173, 173);
}
.col4{
    flex: 100%;
}
.content a{
    color: aliceblue;
    text-decoration: none;
}
.sub-heading{
    font-size: 12px;
    color: rgba(187, 185, 185, 0.774);
}
.sub-heading1{
    font-size: 12px;
    color: rgba(187, 185, 185, 0.774);
    display: inline;
    position: absolute;
    top: 95px;
    left: 108px;
}
.col5{
    flex: 100%;
    position: relative;
}
.col6{
    flex: 20%;
}
.bar{
    width: 98%;
    border-top: 1px solid rgb(88, 88, 88);
    margin: auto;
    margin-bottom: 50px;
}