h1{
    color: green;
}
h2{
    color: blue;
}
.img-container{
    text-align: center;
}
img{
    border: 2px solid rgba(102, 51, 153, 0.116);
    width: 15%;
    margin: 10px;
    border-radius: 5px;
}